# Binaries
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/

# Visual Studio files and folder
.vs/
**.vcxproj.user
**.nsight-gfxproj
**.DotSettings
**.user

# Log files
**.log

# Dumps
*.nvdbg
*.nv-gpudmp
*gpudmp.json

# Exceptions
